/* styles.css */
body {
    font-family: Arial, sans-serif;
    direction: rtl;
  }
  
  .container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form label {
    margin-top: 10px;
    display: block;
  }
  
  form input, form select, form textarea, form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  